body {
  background: #efefef;
  font-size: 18px;
}

.wrapper {
  position: relative; }

#datePicker {
  display: inline-block;
  margin-right: 2em;
  color: #ffffff;
}
#datePicker .month, #datePicker .year {
  padding: .5em;
}

#datePicker table {
  border-collapse: collapse; 

}
#datePicker .headerDatePicker {

  background: #526e82;
  position: relative; 
  text-align: center;
}

#datePicker .calendar table th.dayOfWeek {

  background: #4cd9c0;
  color: #3dad99;
  padding: .4em;

}
#datePicker .calendar tr td.today.active span {
  background: #357ebd;
  color: #ffffff;
}
#datePicker .calendar tr td.today span {
  background: #0c8cca;
  border-radius: 50%;
  color: #ffffff;
}

#datePicker table tr td:first-child {
  border-left: 0; 
}
#datePicker table tr td:last-child {
  border-right: 0; 
}
#datePicker table tr td {
  background: #ffffff;
  height: 20px;
  width: 20px;
  margin: .4em;
  border: none;
  text-align: center;
  color: #32635a;
  
}
#datePicker .calendar table tbody td.start-date {
  border-radius: 4px 0 0 4px;
}
#datePicker .calendar table tbody td.end-date {
 border-radius: 0 4px 4px 0; 
}
#datePicker .calendar table tbody td.active {
  background: #357ebd;
  color : #ffffff; 
}
#datePicker .calendar table tbody td.in-range {
  background: #ceebf9;
}
#datePicker .calendar table tbody td.off {
  color : #999;
}
#datePicker .calendar table tbody td span {
  display: block;
  padding: .4em;
}

#datePicker .calendar table tbody td span:not(.dayOfWeek):not(.today): hover {
    background-color: #3bc8b0;
    border-radius: 50%;
  
}
#datePicker .nextMonth {
  font-family:'Fira Code';
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 2em;
  z-index: 10;
  top:50%;
  padding-right: .2em;
  transform: translate(0,-50%);

}
#datePicker .previousMonth {
  font-family:'Fira Code';
  position: absolute;
  z-index: 10;
  left: 0;
  color: #fff;
  font-size: 2em;
  top:50%;
  padding-left: .2em;
  transform: translate(0,-50%);
}
.clearfix {
  clear: both;
}
.headerDatePicker {
  position: relative;
}
